
<div id="main">
    <h1 class="mainTitle">about</h1>
    <h2 class="subhead">I built this with Angular.js 1.5.8. during my 12-week web development course at SPICED Academy. View this on my <a href="https://github.com/kaylarobertson3"><span class="link">Github</span></a>, view my <a href="https://kaylarobertsondesign.com"><span class="link">Portfolio</span></a>, follow me on <a href="https://twitter.com/kaylajoro"><span class="link">Twitter</span></a> or <a href="https://www.linkedin.com/in/kaylarobertson"><span class="link">Linkedin</span></a>, or send me an <a href="https://github.com/kaylarobertson3"><span class="link">email</span></a>.</h2>
</div>
