<!-- Recent images controller -->
<!-- Title -->
<div id="main">
<div class="notMenuBody" ng-controller="recentImages">
     <div class="cardsContainer">
         <h1 class="mainTitle">images</h1>
        <div class="cards" ng-if="images.length > 0">
            <div class="card" ng-repeat="image in images">
                <a ui-sref="singleImage({ imageId: {{image.id}} } )">
                    <img class="imgpic" src="{{image.image}}" alt="{{image.username}}'s photo" />
                    <div class="desc">
                        <h2 class="title">{{image.title}}</h2>
                        <p class="description">{{image.description}}</p>
                        <h3 class="username">Uploaded by <span>{{image.username}}</span></h2>
                </a>
                    </div>
            </div>
        </div>
        <div class="moreButton">
        <button id="more" class='more'>More</button>
    </div>
    </div>
    <!-- Pagination -->
</div>
</div>
