<!-- <div ng-controller="singleImage"> // so the controller is only when you want to do something related to back end? -->
<div id="main">
    <div id="singleImage" ng-controller="singleImage">
        <div id="singleImageWrapper">
            <div class="close hover">
                <a ui-sref="recentImages"><i id="close" class="fa fa-times-circle"  aria-hidden="true"></i>Close</a>
            </div>
            <h1 class="singleImageTitle">{{ title }}</h1>
            <p class="singleImageUsername">Uploaded by <span class="usernameBold">{{ username }}</span></p>
            <p class="singleImageDesc">{{description}}</p>
            <img src="{{ singleImage }}">

            <br />

            <div id="comments" ng-controller="addComment">
                <div id="allComments" ng-controller="getComments">
                    <h1="commentsH1">Comments</h1>
                    <div class="comment" ng-if="comments.length > 0" ng-repeat="comment in comments">
                            <p  class="commentsComment"><span class="commentsUsername">{{comment.username}} said: </span>{{comment.comment}}</p>
                    </div>
                    <p class="commentsComment"><span class="commentsUsername">{{newComment}} said: </span>{{newUsername}}</p>
                </div>

                <br />
                <br />

                <p>Add a comment:</p>
                <form method="post" id="commentForm" ng-submit="addComment()">
                    <input ng-model="user" type="text" maxlength="40" name="username" placeholder="Name" value="" />
                    <input class="commentInput" ng-model="comment" type="text" maxlength="400" name="comment" placeholder="Comment here..." value="" />
                    <button class="commentButton" type="submit" ng-click="refresh()">Comment</button>
                </form>
                <br />
                <hp class="msg">{{msg}}</p>
            </div>
        </div>
    </div>
</div>
